.contain {
    width: 100%;
    height: 100%;
}

.cards {
    width: 80%;
    height: 80%;
    border: 1px solid rgba(102, 102, 102, 0.664);
}

.cardsita {
    width: 100%;
    border: 1px solid rgba(100, 19, 19, 0.664);
}

.bgg {
    background: linear-gradient(to right, rgba(183, 217, 255, 0.808), rgba(187, 187, 187, 0.658));
    border-radius: 30px;
    width: 300px;
}
