<div class="contain" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="cards" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" class="bgg">
        <mat-card class="cardsita" fxFlex="30" fxLayoutAlign="center center" fxLayout="column">
            <h3>CONTRASEÑA</h3>
            <button mat-raised-button color="primary" (click)="CambiarPasswordDialog()">Cambiar contraseña</button>
        </mat-card>
        <mat-card class="cardsita" fxFlex fxLayoutAlign="center center" fxLayout="column">
            <h3>OTRAS OPCIONES</h3>
            <button mat-raised-button color="primary" (click)="ContactosDialog()">Necesitas ayuda?</button>
        </mat-card>
    </mat-card>
</div>
