.forms {
    width: 350px;
}

.bgg {
    background: linear-gradient(to right, rgba(183, 217, 255, 0.808), rgba(187, 187, 187, 0.658));
    border-radius: 30px;
}

.metError {
    position: relative;
    bottom: 15px;
    text-align: center;
}
.container{
    width: 100%;
    margin: 100px auto;
}
