<ol class="breadcrumb" *ngFor="let pro of proyectos" >
  <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="verProyecto()">Proyecto</a></li>
  <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)" (click)="cancelar()">Igresos</a></li>
  <li class="breadcrumb-item active" aria-current="page">Ver ingreso</li>
  <li class="breadcrumb-item active" aria-current="page">{{pro.titulo}}</li>
</ol>
<div fxLayout="column" fxLayoutAlign="center center" style="width: 100%; margin-top: 15px;">
    <mat-card class="card" *ngFor="let ing of ingresos">
        <mat-card-header>
            <mat-card-title fxLayoutAlign="center center">
                <h1>{{ing.titulo | uppercase}}</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h4 style="color:black">
                    <strong>
                    TOTAL DE INGRESOS:
                  </strong>
                </h4>
                <ng-container *ngIf="ing.idivisa=='Dolares'; else elseTemplate">
                  <h3 fxLayoutAlign="center center">
                    {{ ing.ingreso | number:'0.1-2'}} $
                  </h3>
                </ng-container>
                <ng-template #elseTemplate>
                  <h3 fxLayoutAlign="center center">
                    {{ ing.ingreso | number:'0.1-2'}} Bs
                  </h3>
                </ng-template>
                <h4 style="color:black">
                    <strong>
                  COMPROBANTE:
                </strong>
                </h4>
                <h3 fxLayoutAlign="center center">{{ ing.cingreso}}</h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div *ngFor="let fin of financiador" fxLayoutAlign="center center" fxLayout="column">
                <h4 style="color:black">
                    <strong>
                          FINANCIADOR:
                        </strong>
                </h4>
                <h3 style="text-align: justify; text-align: center;">
                    {{ fin.nombre | uppercase }}
                </h3>
            </div>
            <h4 style="color:black">
                <strong>
                FECHA DEL INGRESO:
              </strong>
            </h4>
            <h3>{{ing.fingreso | date:'mediumDate'}}</h3>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <ng-container *ngIf="ing.estado==1; else modelres">
                <button mat-button [hidden]="ing.estado==3" (click)="eliminar(eliIS,ing.coding,ing.nombre,ing.ingreso,ing.idivisa, ing.codpro,ing.estado)">ELIMINAR</button>
            </ng-container>
            <ng-template #modelres>
                <button mat-button [hidden]="ing.estado==3" (click)="restaurar(eliIS,ing.coding,ing.nombre,ing.ingreso,ing.idivisa, ing.codpro,ing.estado)">RESTAURAR</button>
            </ng-template>
            <button mat-button [hidden]="ing.estado==3" (click)="confirmar(confIS,ing.coding,ing.nombre,ing.ingreso,ing.idivisa, ing.codpro,ing.estado)">CONFIRMAR</button>
            <button mat-button (click)="cancelar()">CERRAR</button>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #eliIS>
    <mat-card class="example-card" *ngFor="let da of datos">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle style="color: black;">Estas seguro de eliminar?</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center" fxLayout="column">
            <h3>Monto:</h3>
            <p style="color: red;">{{da.ingreso}} {{da.idivisa}}</p>
            <h3>Financiado por:</h3>
            <p style="color: blue;">{{da.nombre}}</p>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
                <ng-container *ngIf="da.estado==1; else delres">
                    <button mat-raised-button color="primary" (click)="del(da.coding)">confirmar</button>
                </ng-container>
                <ng-template #delres>
                    <button mat-raised-button color="primary" (click)="res(da.coding)">confirmar</button>
                </ng-template>
                <button mat-raised-button color="warn" (click)="cerrar()">cancelar</button>
            </div>
        </mat-card-actions>
    </mat-card>
</ng-template>

<ng-template #confIS>
    <mat-card class="example-card" *ngFor="let da of datos">
        <mat-card-header fxLayout="column">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle style="color:black">Estas seguro de confirmar?</mat-card-subtitle>
            <h4 style="color: red; text-align: justify; text-align: center;">Esta sancion no es reversible y esto no permite mas modificaciones al ingreso, tengan cuidado al confirmar esta opción.</h4>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center" fxLayout="column">
          <h3>Monto:</h3>
          <p style="color: red;">{{da.ingreso}} {{da.idivisa}}</p>
          <h3>Financiado por:</h3>
          <p style="color: blue;">{{da.nombre}}</p>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
                <button mat-raised-button color="primary" (click)="conf(da.coding)">confirmar</button>
                <button mat-raised-button color="warn" (click)="cerrar()">cancelar</button>
            </div>
        </mat-card-actions>
    </mat-card>
</ng-template>
