.bgg {
    background: linear-gradient(to right, rgba(183, 217, 255, 0.808), rgba(187, 187, 187, 0.658));
    border-radius: 30px;
    padding: 10px;
}
.breadcrumb{
  background: linear-gradient(to right, rgba(183, 217, 255, 0.808), rgba(187, 187, 187, 0.658));
  width: 500px;
}
