<div fxLayout="column" fxLayoutAlign="center center" style=" width: 100%; height: 100%;">
    <div fxLayout="column" fxLayoutAlign="center center" class="bgg">
      <div *ngFor="let pel of usuarios" fxLayoutAlign="center center" fxLayout="row">
        <div style="width: 50%; border-radius: 50px;" class="mr-3">
          <img mat-card-image [src]="'http://localhost:3000/api/imagenes/' + pel.codper " onerror="this.src='assets/imagenes/no-image.png'" alt="asd" style="width: 100%; height: 100%; border-radius: 50%;">
        </div>
        <div fxLayoutAlign="center center" fxLayout="column">
          <mat-card-title>{{ pel.nombre | titlecase }}</mat-card-title>
          <mat-card-subtitle>{{ pel.ap | titlecase }} {{ pel.am | titlecase }}</mat-card-subtitle>
          <h4 style="color: red;">{{rol}}</h4>
        </div>
        <!-- <mat-card-header fxLayoutAlign="center center" fxLayout="column">
        </mat-card-header> -->
        <!-- <mat-card-content *ngFor="let rol of roles">
        </mat-card-content> -->
    </div>
        <form action="" [formGroup]="rolForm">
            <h4>Seleccionar el rol con el cual se quiere cambiar:</h4>
            <div fxLayout="row" fxLayoutGap="20px">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccionar...</mat-label>
                        <mat-select formControlName="codrol" [matTooltipHideDelay]="10000" matTooltip="{{getErrorMessage ('codrol')}}">
                            <mat-option *ngFor="let role of rolesg" value="{{role.codrol}}">
                                {{role.nombre | titlecase}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutGap="10px">
                    <button mat-raised-button color="primary" [disabled]="!rolForm.valid" (click)="guardar()">Guardar</button>
                    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
