<ol class="breadcrumb" *ngFor="let pro of proyecto">
    <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="verProyecto()">Proyecto</a></li>
    <li class="breadcrumb-item active" aria-current="page">Informe economico</li>
    <li class="breadcrumb-item active" aria-current="page">{{pro.titulo}}</li>
</ol>
<button mat-raised-button color="primary" (click)="downloadPDF()" fxFlexAlign="center">Descargar informe</button>
<div class="container mt-3 fs-6 bgg" id="htmlDate">
    <div id="htmlData" *ngFor="let pr of proyecto">
        <div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <p>Fundación Educativa Cultural</p>
                    <hr>
                    <hr>
                </div>
                <img src="./assets/imagenes/logo_cbaa.png" alt="" style="width: 10%;">
                <div>
                    <p>Centro Boliviano Americano</p>
                    <hr>
                    <hr>
                </div>
            </div>
        </div>
        <h1 class="text-center">INFORME DE EJECUCIÓN DEL PROYECTO</h1>
        <h2 class="text-center"><strong>{{pr.titulo | uppercase}}</strong></h2>
        <table style="width: 100%; border: 1px solid rgb(102, 99, 99);" class="text-center">
            <thead style="border: 1px solid rgb(102, 99, 99);">
                <tr>
                    <th scope="col">Tarea</th>
                    <th scope="col">Encargado</th>
                    <th scope="col">Estado de la tarea</th>
                    <th scope="col">Avance de la tarea</th>
                </tr>
            </thead>
            <tbody *ngFor="let ta of tareas">
                <tr>
                    <td scope="row">{{ta.nomta | uppercase}}</td>
                    <td scope="row">{{ta.nombre | titlecase}} {{ta.ap | titlecase}} {{ta.am | titlecase}}</td>
                    <td scope="row" class="text-center">
                        <ng-container *ngIf="ta.estado==1; else inactivo">
                            <div style="color: rgb(53, 124, 53);"><strong>PENDIENTE</strong></div>
                        </ng-container>
                        <ng-template #inactivo>
                            <ng-container *ngIf="ta.estado==0; else bloqueado">
                                <div style="color: rgb(255, 27, 27);"><strong>CANCELADO</strong></div>
                            </ng-container>
                            <ng-template #bloqueado>
                                <div style="color: rgb(45, 84, 255);"><strong>COMPLETADO</strong></div>
                            </ng-template>
                        </ng-template>
                    </td>
                    <td scope="row">{{ta.avance | number}}%</td>
                </tr>
            </tbody>
            <tfoot style="border: 1px solid rgb(102, 99, 99);">
                <tr class="text-center">
                    <td scope="row"><strong>TOTAL</strong></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                </tr>
                <tr class="text-center">
                    <td scope="row"></td>
                    <td scope="row"><strong>TAREAS PENDIENTES:</strong></td>
                    <td scope="row"><strong>TAREAS COMPLETADAS:</strong></td>
                    <td scope="row"><strong>TOTAL TAREAS</strong></td>
                </tr>
                <tr class="text-center">
                    <td scope="row"></td>
                    <td scope="row">{{totala}}</td>
                    <td scope="row">{{totalc}}</td>
                    <td scope="row">{{totalt}}</td>
                </tr>
            </tfoot>
        </table>
        <br>
        <div class="float-left" *ngFor="let per of persona">
            <p>Usuario: {{per.nombre | titlecase}} {{per.ap | titlecase}} {{per.am | titlecase}}</p>
        </div>
        <div class="float-right">
            <p>{{generado | date:'medium'}}</p>
        </div>
        <br>
        <div style="position: relative; bottom:5px">
            <hr>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <p>Telf. 591(4)66-48626</p>
                </div>
                <div>
                    <p>www.cba.org.bo</p>
                </div>
                <div>
                    <p>Dirección: La Madrid #732 entre O'Connor y Ejército</p>
                </div>
            </div>
        </div>
    </div>
</div>